body {
    background-color: hsl(217, 54%, 11%);
}

.container {
    width: 340px;
    height: 565px;
    background-color:#14253e;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

img {
    width: 90%;
    position: absolute;
    top: 3%;
    left: 5%;
    border-radius: 20px;
}

#eye {
    width:15%;
    top: 45%;
    left: 42%;
    opacity: 100%;
}

.image-overlay {
    width: 306px;
    height: 308px;
    background-color:hsl(178, 100%, 50%);
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    display: none;
    opacity: 50%;
}

img:hover + .image-overlay {
    display: block;
}

.name {
    position: absolute;
    top: 59%;
    left: 12%;
    font-size: 21px;
    font-family: "Outfit";
    font-weight: 600px;
    color: white;
}

.desc{
    position: absolute;
    top: 64%;
    left: 12%;
    right: 12%;
    font-size: 17px;
    font-family: "Outfit";
    font-weight: 100px;
    line-height: 150%;
    color: #7e8ea9;

}

#nft{
    width: 3.5%;
    position: absolute;
    top: 81%;
    left: 12%;
}

.price{
    position: absolute;
    top: 81%;
    left: 17%;
    font-size: 17px;
    font-family: "Outfit";
    font-weight: 100px;
    color: hsl(178, 100%, 50%);
}

#clock{
    width: 6%;
    position: absolute;
    top: 81%;
    left: 60%;
}

.timer{
    position: absolute;
    top: 81%;
    left: 68%;
    font-size: 17px;
    font-family: "Outfit";
    font-weight: 300px;
    color: #7e8ea9;
}

.line {
    width: 80%;
    height: 0.1%;
    position: absolute;
    top: 87%;
    left: 11%;
    background-color:#3e608f;
}

#pfp{
    position: absolute;
    top: 88.5%;
    left: 12%;
    width: 12%;
    border-color: #a5b8da;
    border-radius: 50%;
} 

p{
    position: absolute;
    top: 88%;
    left: 30%;
    font-size: 17px;
    font-family: "Outfit";
    font-weight: 300px;
    color: #7e8ea9;
}

a{
    color:rgb(255, 255, 255);
    text-decoration: none;
}

a:hover{
    color:hsl(178, 100%, 50%);
}

.attribution { 
    width: 100%;
    font-size: 11px;
    text-align: center;
    color: rgb(139, 174, 209);
    position: absolute;
    top: 115%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.attribution a { 
    color: hsl(228, 6%, 83%);
    text-decoration:none;
}

.attribution a:hover {
    color: rgb(105, 235, 205);
    text-decoration: underline;
}


